<header id="main_header">
  <div class="brand-gradient"></div>

  <a href="{{ route("home") }}">
    {% include "Components/Brands/MVCLite/NormalLogo.twig" %}
  </a>

  <nav id="main_navbar">
    <a class="link" href="#">
      <ion-icon name="school" size="large"></ion-icon>

      <span class="link-label">
        Learn
      </span>
    </a>

    <a class="link" href="{{ route("docs.home") }}">
      <ion-icon name="file-tray-full" size="large"></ion-icon>

      <span class="link-label">
        Docs
      </span>
    </a>
  </nav>
</header>