.font-base {
  font-family: "Montserrat", sans-serif;
}

.font-title, header#main_header nav#main_navbar > a.link, #app > .slot-container > aside#left_side_slot > section.aside-section > header.section-header > .header-title > span.title-label {
  font-family: "Krona One", sans-serif;
}

.font-code, #app > .slot-container > aside#left_side_slot > section.aside-section > .section-dropdown {
  font-family: "JetBrains Mono", monospace;
}

button {
  @apply flex items-center gap-x-2 transition-all;
  padding: 12px 20px !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
}
button:hover {
  @apply cursor-pointer opacity-70;
}
button:active {
  @apply scale-95 opacity-50;
}
button.button-primary {
  background-color: #0094FF;
  color: #FFFFFF;
}
button.button-secondary {
  background-color: #FFFFFF;
  color: #1F1F1F;
}

a.html-link {
  color: #00D1FF !important;
}
a.html-link:hover {
  opacity: 0.7;
}
a.html-link:active {
  opacity: 0.5;
}

#app {
  @apply flex flex-col min-h-screen select-none cursor-default;
}
#app > .slot-container {
  @apply flex-1 flex flex-col xl:flex-row;
}
#app > .slot-container > aside#left_side_slot {
  @apply flex-none xl:w-[450px] flex flex-col gap-y-16 px-10 py-8;
  background-color: #222222;
}
#app > .slot-container > aside#left_side_slot > section.aside-section {
  @apply flex flex-col gap-y-3;
}
#app > .slot-container > aside#left_side_slot > section.aside-section > header.section-header {
  @apply flex items-center justify-between;
}
#app > .slot-container > aside#left_side_slot > section.aside-section > header.section-header > .header-title {
  @apply flex items-center gap-x-3;
}
#app > .slot-container > aside#left_side_slot > section.aside-section > header.section-header > .header-title > ion-icon {
  color: #00D1FF;
}
#app > .slot-container > aside#left_side_slot > section.aside-section > header.section-header > .header-title > span.title-label {
  @apply text-white;
}
#app > .slot-container > aside#left_side_slot > section.aside-section > header.section-header > .header-caret {
  @apply flex justify-end items-center;
}
#app > .slot-container > aside#left_side_slot > section.aside-section > header.section-header > .header-caret > ion-icon {
  color: #4B4B4B;
}
#app > .slot-container > aside#left_side_slot > section.aside-section > .section-dropdown {
  @apply flex flex-col gap-y-2 pl-11;
}
#app > .slot-container > aside#left_side_slot > section.aside-section > .section-dropdown > .section-element {
  @apply flex flex-col gap-y-1.5;
}
#app > .slot-container > aside#left_side_slot > section.aside-section > .section-dropdown > .section-element:not(:first-of-type) {
  @apply border-t pt-2;
  border-color: #282828;
}
#app > .slot-container > aside#left_side_slot > section.aside-section > .section-dropdown > .section-element > a:hover {
  opacity: 0.7;
}
#app > .slot-container > aside#left_side_slot > section.aside-section > .section-dropdown > .section-element > a:active {
  opacity: 0.5;
}
#app > .slot-container > aside#left_side_slot > section.aside-section > .section-dropdown > .section-element > a > header.element-header {
  @apply flex flex-col gap-y-px;
}
#app > .slot-container > aside#left_side_slot > section.aside-section > .section-dropdown > .section-element > a > header.element-header > p.class-name {
  @apply text-lg;
  color: white !important;
}
#app > .slot-container > aside#left_side_slot > section.aside-section > .section-dropdown > .section-element > a > header.element-header > .class-information {
  @apply text-sm flex flex-col gap-y-px;
}
#app > .slot-container > aside#left_side_slot > section.aside-section > .section-dropdown > .section-element > a > header.element-header > .class-information > p {
  color: #4B4B4B;
}
#app > .slot-container > aside#left_side_slot > section.aside-section > .section-dropdown > .section-element > .element-components {
  @apply flex flex-col gap-y-1;
}
#app > .slot-container > aside#left_side_slot > section.aside-section > .section-dropdown > .section-element > .element-components > a:hover {
  opacity: 0.7;
}
#app > .slot-container > aside#left_side_slot > section.aside-section > .section-dropdown > .section-element > .element-components > a:active {
  opacity: 0.5;
}
#app > .slot-container > aside#left_side_slot > section.aside-section > .section-dropdown > .section-element > .element-components > a .element-component {
  @apply flex items-center gap-x-2;
}
#app > .slot-container > aside#left_side_slot > section.aside-section > .section-dropdown > .section-element > .element-components > a .element-component.component-active {
  @apply border-l-4 pl-2;
  border-color: #00D1FF;
}
#app > .slot-container > aside#left_side_slot > section.aside-section > .section-dropdown > .section-element > .element-components > a .element-component > p.component-visibility {
  @apply text-sm;
  color: #4B4B4B;
}
#app > .slot-container > aside#left_side_slot > section.aside-section > .section-dropdown > .section-element > .element-components > a .element-component > p.component-name {
  color: #00D1FF;
}
#app > .slot-container > aside#left_side_slot > section.aside-section > .section-dropdown > .section-element > .element-components > a .element-component > p.component-name > span.component-type {
  color: #FFFFFF;
}
#app > .slot-container > main#main_slot {
  @apply flex-1;
  background-color: #282828;
}

header#main_header {
  @apply h-[100px] shadow-md flex items-center gap-x-20 px-10 relative;
  background-color: #1F1F1F;
}
header#main_header > .brand-gradient {
  @apply absolute z-0 left-0 inset-y-0 w-[320px];
  background-image: linear-gradient(to right, #004475, #1F1F1F);
}
header#main_header .logo {
  @apply relative z-10 flex-none;
}
header#main_header nav#main_navbar {
  @apply flex gap-x-14 flex-1 items-center;
}
header#main_header nav#main_navbar > a.link {
  @apply flex gap-x-3 items-center;
  color: #00D1FF;
}
header#main_header nav#main_navbar > a.link:hover {
  opacity: 0.7;
}
header#main_header nav#main_navbar > a.link:active {
  opacity: 0.5;
}
header#main_header nav#main_navbar > a.link > span.link-label {
  font-size: 15px;
  color: #FFFFFF;
}

/*# sourceMappingURL=Header.css.map */
