{% extends "Components/Layout.twig" %}

{% block title %} Welcome {% endblock %}

{% block css %}
  {{ resource("Css/Layout/Views/Documentation/Home.css") }}
{% endblock %}

{% block slot %}

  {% include "Components/Documentation/LeftSide.twig" %}

  <main id="main_slot">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus blanditiis deserunt eius esse et eum
    ex excepturi, exercitationem hic laudantium magni modi mollitia nihil perferendis perspiciatis provident
    quo velit voluptas!
  </main>

{% endblock %}